@import "tailwindcss";
 
body { 
  margin: 0; 
  padding: 0; 
  background-color: #ffffff; 
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}